.logo-img {
    position: absolute;
    right: 32px;
    top:32px;
    max-width: 250px;
}
.c-animal-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-image: url("https://media.istockphoto.com/photos/gray-doggy-tile-pattern-repeat-background-picture-id490747664?b=1&k=20&m=490747664&s=170667a&w=0&h=ca0K-dWeUfVBRk9nRwMmcsKXd-RStz_BbEXfJ-oTzdw=");
}
.c-animal-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 40vw;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(256, 256, 256, 0.7);
}
button {
    background-color:#F7ABAE;
    font-weight: bold;
    padding: 8px;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
}
.c-animal-title {
    font-size: 1.5rem;
    font-weight: bold;
}
input {
    width: 100%;
    height: 24px;
    border-radius: 20px;
}
.c-animal-title {
    font-size: 1.5rem;
    font-weight: bold;
}