<doctype html>
    <title>Add Donator</title>
    <h2>Add Donator</h2>
    <form method="post" action="/add_donator">
        <dl>
            <p>
                <input name="inputDonatorName" value="" type="text" placeholder="Name" autocomplete="off" required />
            </p>
            <p>
                <input name="inputDonatorDocument" value="" type="document" placeholder="Document" autocomplete="off" required />
            </p>
            <p>
                <input name="inputDonatorEmail" value="" type="text" placeholder="Email" autocomplete="off" required />
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</doctype>
