<doctype html>
    <title>Add Adopter</title>
    <h2>Add Adopter</h2>
    <form method="post" action="/add_adopter">
        <dl>
            <p>
                <input name="inputAdopterName" value="" type="text" placeholder="Name" autocomplete="off" required />
            </p>
            <p>
                <input name="inputAdopterDocument" value="" type="document" placeholder="Document" autocomplete="off" required />
            </p>
            <p>
                <input name="inputAdopterEmail" value="" type="text" placeholder="Email" autocomplete="off" required />
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</doctype>
