<link rel="stylesheet" href="../static/css/index.css">
<div class="t-inicial-container">

    <img class="logo-img" src="../static/logo.png" alt="">

    <br>
    <br>

    <div class="t-inicial-form">
        <form action="index.html" >

    <button type="submit" formaction="/new_animal"> Cadastrar animal </button><br><br>

    <button type="submit" formaction="/new_donator">Cadastar doador</button> <br><br>

    <button type="submit" formaction="/new_adopter">Cadastrar adotante</button> <br><br><br>
        
    <button type="submit" formaction="/new_user">Adicionar novo usuário</button>

        </form>
        
    </div>

    </div>
