<doctype html>
    <title>Add Animal</title>
    <h2>Add Animal</h2>
    <form method="post" action="/add_animal">
        <dl>
            <p>
                <input name="inputAnimalName" value="" type="text" placeholder="Name" autocomplete="off" required />
            </p>
            <p>
                <input name="inputRescueDate" value="" type="date" placeholder="Date" autocomplete="off" required />
            </p>
            <p>
                <input name="inputGender" value="" type="text" placeholder="Gender" autocomplete="off" required />
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</doctype>
